/**
 * svg1.js
 *
 * Eline Jacobse
 * Data Processing
 * Student.nr: 11136235
 *
 * CSS to change the colors of
 * a few countries
 */

/* country colors */
#fra
{
    color: #b73a3a;
    fill: currentColor;
}

#nld
{
    color: #00bcd4;
    fill: currentColor;
}

#be
{
    color: orange;
    fill: currentColor;
}
