canvas
{
    margin: 40px;
}

h2
{
    font-family: "Open Sans", "Helvetica", sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
}

p
{
    font-family: "Open Sans", "Helvetica", sans-serif;
    font-size: 11px;
    text-align: center;
}
